<section id="benefits">
  <div class="cnt-benefits-bg">
    <div class="container">
      <h1>WE HELP YOU TEST DISTRIBUTED SYSTEMS</h1>
      <p></p>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="col-xs-12 col-sm-6 col-lg-6 benefits-content">
            <h2>Why Pact?</h2>
            <p><a href="http://pact.io">Pact</a> is a consumer-driven contract testing framework.</p>
            <p>Born out of a microservices boom, Pact was created to solve the problem of integration testing large, distributed systems.</p>
            </br>
            <h2>What is the Pact Broker?</h2>
            <p>A key feature of contract testing is the creation of agreements - called pacts - describing the interactions that can take place between them.</p>
            <p>The Pact Broker is the easiest way to collaborate and distribute these agreements (pacts) with your team.</p>
            <p>Without a broker, you need to manage the contracts yourself including; API versioning, storage and sharing.</p>
            <p>The Pact Broker is the recommended approach to sharing contracts, it allows you to:</p>
            </br>
            <ul class="benefits-list">
              <li><i class="pe-7s-rocket"></i><span>Decouple your release cycles and move faster</span></li>
              <li><i class="pe-7s-look"></i><span>Test development and production versions of dependencies (N+1)</span></li>
              <li><i class="pe-7s-graph1"></i><span>Visualise system relationships and architectures</span></li>
              <li><i class="pe-7s-clock"></i><span>Save time and effort managing your own broker</span></li>
              <li><i class="pe-7s-note2"></i><span>Generate up-to-date API documentation</span></li>
            </ul>
          </div>
          <div class="col-sm-6 col-lg-6 benefits-img">
            <img src="assets/img/pact-diagram-02.png" alt="" class="img-responsive">
          </div>
        </div>

      </div>
    </div>
    <!-- //.container-->
  </div>
  <!-- //.cnt-benefits-bg -->
</section>
