<section id="benefits">
  <div class="cnt-benefits-bg">
    <div class="container">
      <h1>WHAT ARE THE BENEFITS</h1>
      <div class="row-centered">
        <div class="col-lg-12 col-centered main-services-content">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 item-all-services">
            <div class="col-xs-2 col-lg-2">
              <i class="pe-7s-coffee"></i>
            </div>
            <div class="col-xs-10 col-lg-10">
              <p class="items">Unlimited surveys for free.Lorem ipsum</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 item-all-services">
            <div class="col-xs-2 col-lg-2">
              <i class="pe-7s-config"></i>
            </div>
            <div class="col-xs-10 col-lg-10">
              <p class="items">Answer first question in email and continue to survey</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 item-all-services">
            <div class="col-xs-2 col-lg-2">
              <i class="pe-7s-display1"></i>
            </div>
            <div class="col-xs-10 col-lg-10">
              <p class="items">Answer first question in email and continue to survey</p>
            </div>
          </div>
        </div>
        <!-- other -->
        <div class="col-md-12 col-lg-12 col-centered main-services-content">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 item-all-services">
            <div class="col-xs-2 col-md-2 col-lg-2">
              <i class="pe-7s-tools"></i>
            </div>
            <div class="col-xs-10 col-md-10 col-lg-10">
              <p class="items">Unlimited surveys for free.Lorem ipsum</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 item-all-services">
            <div class="col-xs-2 col-md-2 col-lg-2">
              <i class="pe-7s-users"></i>
            </div>
            <div class="col-xs-10 col-md-10 col-lg-10">
              <p class="items">Answer first question in email and continue to survey</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 item-all-services">
            <div class="col-xs-2 col-md-2 col-lg-2">
              <i class="pe-7s-wristwatch"></i>
            </div>
            <div class="col-xs-10 col-md-10 col-lg-10">
              <p class="items">Answer first question in email and continue to survey</p>
            </div>
          </div>
        </div>
        <!-- other -->
        <div class="col-lg-12 col-centered main-services-content">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 item-all-services">
            <div class="col-xs-2 col-md-2 col-lg-2">
              <i class="pe-7s-world"></i>
            </div>
            <div class="col-xs-10 col-md-10 col-lg-10">
              <p class="items">Unlimited surveys for free.Lorem ipsum</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 item-all-services">
            <div class="col-xs-2 col-md-2 col-lg-2">
              <i class="pe-7s-cash"></i>
            </div>
            <div class="col-xs-10 col-md-10 col-lg-10">
              <p class="items">Responsive - surveys work well on mobile devices</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 item-all-services">
            <div class="col-xs-2 col-md-2 col-lg-2">
              <i class="pe-7s-rocket"></i>
            </div>
            <div class="col-xs-10 col-md-10 col-lg-10">
              <p class="items">Easy customizable logo of your company</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- //.container-->
  </div>
  <!-- //.cnt-benefits-bg -->
</section>
