<footer>
    <div class="footer-main">
        <div class="row">
          <div class="twitter-info">
            <span class="social-icon-twitter">Follow <a href="https://twitter.com/pact_up">@pact_up</a> on Twitter</span>
          </div>
          <div class="email-info">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <span>Drop us an email on <a href="mailto:diuspact@dius.com.au">diuspact@dius.com.au</a></span>
          </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /footer-main -->
    <div class="footer-bottom">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="copyright">
                    <span>Copyright <i class="fa fa-copyright" aria-hidden="true"></i> 2016 - Pact</span>
                </div>
                <div class="terms">
                    <span>Terms and Conditions</span>
                    <!-- <span>Privacy Policy</span> -->
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 top-footer">
                <div id="go-top">
                    <a class="smoothscroll" title="Back to Top" href="#"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- /footer-bottom -->
</footer>
