<section id="hero" class="hero">
  <div id="img-back">
    <div class="cnt-hero-content">
      <div class="hero-box">
        <div class="container">
          <div class="hero-text align-center">
            <h1>Creative Multipurpose Software Template</h1>
            <p>Connect with your clients in a different way</p>
          </div>
          <div class="action-main">
            <a href="#0" class="no-decoration cnt-btn">See pricing</a>
          </div>
        </div>
        <div class="wheel-wrap">
          <span class="mousewheel"></span>
        </div>
      </div>
    </div>
    <!-- //.cnt-hero-bg -->
  </div>
  <!-- //.img-back -->
</section>
