<section id="what-we-do">
  <div class="cnt-what-we-do-bg">
    <div class="container">
      <h1>OUR SERVICE</h1>
      <p class="title-txt">Share pacts between projects and deploy faster.</p>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-centered item-container">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 item-what-we-do">
            <i class="pe-7s-cloud"></i>
            <h2>Managed Solution</h2>
            <p class="items">We spin up a broker in the cloud so you don't have to.</p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 item-what-we-do">
            <i class="pe-7s-note2"></i>
            <h2>Collaborative Contracts</h2>
            <p class="items">Visualise your service architecture and collaborate more
              effectively with other teams.</p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 item-what-we-do">
            <i class="pe-7s-lock"></i>
            <h2>Secure</h2>
            <p class="items">All hosting comes secured with SSL and authentication.</p>
          </div>
        </div>
        <!-- //.item-container -->
      </div>
      <!-- //.row -->
    </div>
    <!-- //.container-->
  </div>
  <!-- //.cnt-what-we-do-bg -->
</section>
