$main-font-family: "Source Sans Pro", Helvetica, sans-serif;
$title-font-family: "Source Sans Pro", Helvetica, sans-serif;
$glyphyicons-family: "Glyphicons Halflings";



$cyan-blue: #3DC5EC;
$dark-blue: #152245;
$secondary-blue: #2E7DE1;
$orange: #F8943C;
$pale-grey: #CBCFD1;

$table-odd-color: #D8D8D8;
$table-even-color: #F3F2F2;

@mixin shadow ($blur) {
  box-shadow: 1px -2px 5px 1px rgba(black, .1), -1px -2px 5px 1px rgba(black, .1), -1px -2px 5px 1px rgba(black, .1);
}
