/*
MAIN COLOR:#32B8E9; (blue)
*/

/* - ELEMENTS
================================================*/
.template-color-pact {
  .cnt-hero-content .cnt-btn
  {
    background: $orange;
  }

  .cnt-hero-content .cnt-btn,
  .cnt-hero-content .cnt-btn:hover,
  .cnt-hero-content .btn-outlined,
  {
    border: 2px solid $orange;

  }
  #services, #what-we-do {
    .container p.title-txt,
    .container h1,
    .container h2 {
      color: $dark-blue;
    }
  }

  #features .main-features-content .item-all-features,
  #what-we-do .item-what-we-do,
  .cnt-hero-content .cnt-btn:hover,
  .hero-contact .btn-outlined
  {
    color: $orange;
  }

  #register-form input[type="text"]:focus,
  #register-form input[type="email"]:focus,
  #register-form input[type="url"]:focus {
    border-bottom: 2px solid $orange;
  }

  .btn-primary{
    background-color: $orange;
  }

  .btn-secondary {
    background-color: $cyan-blue;
  }

  .cnt-contact-bg .data-contact {
    border-top: 15px solid $orange;
    border-bottom: 15px solid $orange;
  }
}
