
/* 14.2 All Services*/
#features{
  position:relative;
  width:100%;
  top:-10px;
  z-index:3;
}
#features .container{
  width:100%;
  padding: 0;
  margin-left: 0px;
  margin-right: 0px;
}
#features .container .row{
  width: 100%;
}
.cnt-features-bg{
  padding: 0px 0px 100px 0px;
  border-bottom: 1px solid #dbdfdd;
}
#features .container .main-features-content{
  position: relative;
  margin-top:5%;
  padding-left:10%;
}
#features .container h1{
  text-align: center;
  font-family: 'Open Sans',sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 3rem;
  letter-spacing: 0px;
  margin-top: 5%;
  color: $dark-blue;
}
#features .item-all-features{
  margin-left: 0px;
  text-align: center;
  width: 30%;
}
#features p.items{
  font-family: 'Open Sans',sans-serif;
  font-size: 1.5rem;
  color: #9f9f9f;
  width: 100%;
  text-align: left;
}

#features i{
  font-size: 4rem;
}
