/**
* ===================================================================
* footer
*
* -------------------------------------------------------------------
*/

footer {
  padding-bottom: 0rem;
  font-size: 1.5rem;
  line-height: 2.7rem;
  font-family: "Open Sans", sans-serif;
  color: #acb2bc;
  overflow-y: hidden;
  overflow-x: hidden;
  text-align: center;
  .email-info, .twitter-info {
    line-height: 55px;
    display: inline-block;
  }
  .email-info .fa {
    font-size: 1.8rem;
    &:before {
      padding-right: 15px;
    }
  }

  .twitter-info .social-icon-twitter:before{
    font-family: 'FontAwesome';
    font-size: 23px;
    content: "\f099";
    padding-left: .2em;
    line-height: 55px;
    padding-right: 15px;
  }

  .twitter-info .social-icon-twitter:after {
    content: '|';
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
  }

}
// footer.contact-ft{
//   position: relative;
//   z-index: 5;
//   bottom: 20px;
//   padding-bottom: 3rem;
//   font-size: 1.5rem;
//   line-height: 2.7rem;
//   font-family: "Open Sans", sans-serif;
//   color: #acb2bc;
//   height: 50px;
// }
footer a, footer a:visited {
  color: $orange;
}
footer a:hover, footer a:focus {
  color: #FFFFFF;
}
footer h4 {
  text-transform: uppercase;
  font-family: 'Montserrat',sans-serif;
  letter-spacing: 2px;
  font-size: 1.2rem;
  padding-bottom: 1.2rem;
  margin-bottom: 1.2rem;
}
footer h5.contact-us-ft{
  text-transform: uppercase;
  font-family: 'Montserrat',sans-serif;
  letter-spacing: 2px;
  font-size: 1.2rem;
  padding-bottom: 1.2rem;
  margin-bottom: 1.2rem;
}
footer ul {
  margin-left: 0;
}
footer ul li {
  padding-left: 0;
}
.footer-main {
  padding-top: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 2rem;
  background: $dark-blue;
}

.footer-bottom {
  margin-top: 0rem;
  height: 50px;
  width: 100%;

  a:hover, a:visited {
    text-decoration: underline;
    color: $orange;
  }
}

.footer-bottom .copyright{
  margin-left: 25px;
  font-family: 'Open Sans',sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-top: 1.5rem;
}
.footer-bottom div{
  display: inline-block;
}

.footer-bottom .terms{
  margin-left: 25px;
  font-family: 'Open Sans',sans-serif;
  font-weight: 400;
  color: #9f9f9f;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-top: 1.5rem;
}

#go-top {
  position: absolute;
  bottom: 0px;
  right:0px;
  width: 100%;
  display:block;
}

#go-top a {
  text-decoration: none;
  border: 0 none;
  display: block;
  color: $orange;
  float: right;
  text-transform: uppercase;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#go-top a i {
  font-size: 1.5rem;
  line-height: inherit;
}
