/* - 0# Navigation
================================================*/

/**
* navigation
* -
*/

#main-nav-wrap, .main-navigation {
  margin: 0;
  padding: 0;
}
a.menu-toggle {
  display: none;
}

/* main-nav-wrap */
#main-nav-wrap {
  font-family: "Montserrat", sans-serif;
  font-size: 11.5px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  position: absolute;
  top: 0;
  right: 30px;
}
.main-navigation {
  min-height: 66px;
  display: inline-block;
  width: auto;
  text-align: left;
}
.main-navigation li {
  position: relative;
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 66px;
}
.main-navigation li a i{
  position: relative;
  font-size: 1.6rem;
  bottom: 2px;
}
.main-navigation li.current a::after {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 80%;
  height: 3px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  content: '\0020';
  display: block;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.main-navigation li.with-sep a {
  position: relative;
  padding-left: 22px;
  margin-left: 8px;
}
.main-navigation li.with-sep a::before {
  position: absolute;
  left: 0;
  top: 50%;
  width: 1px;
  height: 20px;
  margin-top: -10px;
  background-color: rgba(255, 255, 255, 0.2);
  content: '\0020';
  display: block;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.main-navigation li.sticky-sep a::before {
  position: absolute;
  left: 0;
  top: 50%;
  width: 1px;
  height: 20px;
  margin-top: -10px;
  background-color: #34495e;
  content: '\0020';
  display: block;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* navigation links */
.main-navigation li a {
  display: block;
  padding: 18px 15px;
  line-height: 30px;
  text-decoration: none;
  text-align: left;
  color: #fff;
  position: relative;
  -moz-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  -webkit-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.main-navigation li a:active {
  background-color: transparent !important;
}
.main-navigation li a.menu-open-main{
  color: #98999a;
}
.main-navigation-mobile{
  display: none;
}
/**
* mobile-primary navigation
* -
*/

@media only screen and (max-width:768px) {
  #main-nav-wrap ul li.menu-drop {
    display: none;
  }
  #main-nav-wrap {
    display: block;
    width: 100%;
    position: absolute;
    top: 69px;
    right: 0;
  }
  a.menu-toggle {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    right: 30px;
    margin-top: -20px;
  }
  a.menu-toggle span {
    display: block;
    width: 24px;
    height: 3px;
    margin-top: -1.5px;
    position: absolute;
    right: 8px;
    top: 50%;
    bottom: auto;
    left: auto;
    background-color: white;
    -moz-transition: background 0.2s ease-in-out;
    -o-transition: background 0.2s ease-in-out;
    -webkit-transition: background 0.2s ease-in-out;
    -ms-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
  }
  a.menu-toggle span.menu-open{
    display: block;
    width: 24px;
    height: 3px;
    margin-top: -1.5px;
    position: absolute;
    right: 8px;
    top: 50%;
    bottom: auto;
    left: auto;
    background-color: black;
    -moz-transition: background 0.2s ease-in-out;
    -o-transition: background 0.2s ease-in-out;
    -webkit-transition: background 0.2s ease-in-out;
    -ms-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
  }
  a.menu-toggle span::before, a.menu-toggle span::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: inherit;
    left: 0;
    -moz-transition-duration: 0.2s, 0.2s;
    -o-transition-duration: 0.2s, 0.2s;
    -webkit-transition-duration: 0.2s, 0.2s;
    -ms-transition-duration: 0.2s, 0.2s;
    transition-duration: 0.2s, 0.2s;
    -moz-transition-delay: 0.2s, 0s;
    -o-transition-delay: 0.2s, 0s;
    -webkit-transition-delay: 0.2s, 0s;
    -ms-transition-delay: 0.2s, 0s;
    transition-delay: 0.2s, 0s;
  }
  a.menu-toggle span::before {
    top: -8px;
    -moz-transition-property: top, transform;
    -o-transition-property: top, transform;
    -webkit-transition-property: top, transform;
    -ms-transition-property: top, transform;
    transition-property: top, transform;
  }
  a.menu-toggle span::after {
    bottom: -8px;
    -moz-transition-property: bottom, transform;
    -o-transition-property: bottom, transform;
    -webkit-transition-property: bottom, transform;
    -ms-transition-property: bottom, transform;
    transition-property: bottom, transform;
  }
  .menu-toggle.is-clicked span {
    background-color: rgba(255, 255, 255, 0);
  }
  .menu-toggle.is-clicked span::before, .menu-toggle.is-clicked span::after {
    background-color: white;
    -moz-transition-delay: 0s, 0.2s;
    -o-transition-delay: 0s, 0.2s;
    -webkit-transition-delay: 0s, 0.2s;
    -ms-transition-delay: 0s, 0.2s;
    transition-delay: 0s, 0.2s;
  }
  .menu-toggle.is-clicked span::before {
    top: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .menu-toggle.is-clicked span::after {
    bottom: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .main-navigation{
    display: none;
  }
  .main-navigation-mobile {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 100px 42px 54px 42px;
    background: #182a3c;

  }
  ::-webkit-scrollbar {
    display: none;
  }
  .main-navigation-mobile > li {
    display: block;
    height: auto;
    text-align: center;
    padding: 0;
  }

  .main-navigation-mobile li.mobile-title a {
    display: block;
    color: #fff;
    font-size: 2.5rem;
    width: auto;
    padding: 18px 0;
    text-align: center;
    line-height: 16px;
    border: none;
  }
  .main-navigation-mobile li.mobile-title a {
    display: block;
    font-size: 2.5rem;
    width: auto;
    padding: 15px 0;
    text-align: center;
    line-height: 5px;
    border: none;
    text-decoration: none;
  }

  .main-navigation-mobile ul.mobile-content li{
    list-style: none;
  }
  .main-navigation-mobile ul.mobile-content li a {
    display: block;
    font-size: 1.4rem;
    width: auto;
    padding: 18px 0;
    text-align: center;
    line-height: 0px;
    border: none;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .main-navigation li.with-sep a {
    padding-left: 0;
    margin-left: 0;
  }
  .main-navigation li.with-sep a::before {
    display: none;
  }
  .main-navigation li.current > a {
    background: none;
  }
  .main-navigation li.current > a:after {
    display: none;
  }
}
@media only screen and (min-width:769px) {
  #main-nav-wrap ul.main-navigation {
    display: block !important;
  }
  ul.dropdown{
    display: none;
  }
}
