#contact-sc{
  position:relative;
  width:90%;
  top:0px;
  z-index:3;

  .container{
    width:100%;
    padding: 0;
    margin-left: 0px;
    margin-right: 0px;
    min-height: 600px;
  }

  .container h1{
    font-family: 'Open Sans',sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 3rem;
    letter-spacing: 0px;
    margin-top: 5%;
    color: #3c3c4e;
  }

  .container p.bottom-txt{
    font-family: 'Open Sans',sans-serif;
    font-size: 1.8rem;
    font-weight: 100;
    margin: 5% 0% 0% 0%;
    position: relative;
    width: 100%;
    color: #9f9f9f;
  }
}

.cnt-contact-bg{
  padding:0px 0px 0px 0px;

  .contact-me{
    position: relative;
    margin-top: 2%;
    margin-left: 5%;
  }

  .contact-me #register-form{
    position: relative;
    margin-top: 5%;
  }
}


.contact-me input[type="text"], .contact-me input[type="email"], .contact-me input[type="url"], .contact-me p.select {
  width:100%;
  padding:15px 15px;
  font-size:1.5rem;
  color: #78899f;
  font-family: 'Open Sans',sans-serif;
  font-weight: 100;
  margin:0% 0% 0% 0%;
  margin-bottom:2em;
  background:none;
  border: 0;
  border-bottom: 2px solid #E3E7E9;
  outline: 0;
}

.contact-me .form-label, .contact-me input[type="checkbox"] {
  display: inline-block;
  font-family: 'Open Sans',sans-serif;
  font-weight: 100;
  font-size:1.5rem;
  color: #78899f;
  margin:0% 0% 0% 0%;
  margin-bottom:2em;
}

.contact-me input[type="checkbox"] {
  margin-right: 10px;
}

.contact-me button {
  width: 50%;
  float: left;
  display: block;
  margin: 20px auto 80px;
  z-index: 1;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.contact-me .btn.btn-contact {
  font-size: 1.5rem;
  height: 52px;
  padding: 0px;
  text-transform: uppercase;
  font-family: 'Open Sans',sans-serif;
  font-weight: 800;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  border: none;
  -o-transition: all 0.218s;
  -moz-transition: all 0.218s;
  -webkit-transition: all 0.218s;
  transition: all 0.218s;
  cursor: pointer;
}
.signup-complete{
  display: none;
}
