@media all and (min-width:240px) and (max-width:319px){

}
@media all and (min-width:320px) and (max-width:479px){
  .hero-text h1 {
    font-size: 2.5rem;
  }
  #what-we-do .container p.title-txt {
    font-size: 2.5rem;
    width: 100%;
  }
  .container{ width: 95%; }
}

@media only screen and (min-width : 480px) and (max-width:767px){
  header .logo a {
    width: 200px;
    height: 40px;
    background-size: 200px 40px;
  }
}

@media only screen and (min-width : 768px) and (max-width:991px){
}

@media only screen and (min-width : 992px) and (max-width:1024px){

}

@media  only screen and (min-width : 1025px) and (max-width: 1224px) {

}

@media only screen and (min-width : 1225px) and (max-width:1679px){
}

@media only screen and (min-width : 1680px) and (max-width:1919px){
}

@media only screen and (min-width : 1920px){
}

@media only screen and (min-width : 2500px){
}
