#what-we-do{
  position:relative;
  width:100%;
  top:-10px;
  z-index:3;
  border-bottom: 1px solid #dbdfdd;
}
#what-we-do .container{
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}
#what-we-do .container .row{
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.cnt-what-we-do-bg{
  padding: 0px 0px 80px 0px;
}
#what-we-do .container h1{
  text-align: center;
  font-family: 'Open Sans',sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 3rem;
  letter-spacing: 0px;
  margin-top: 5%;
  color: $dark-blue;
}
#what-we-do .container p.title-txt{
  font-family: 'Open Sans',sans-serif;
  font-size: 4rem;
  font-weight: 100;
  text-align: center;
  width: 50%;
  margin: 50px auto;
  color: $dark-blue;
}
#what-we-do .item-container{
  position: relative;
  margin:2% 0 0 0;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
#what-we-do .item-what-we-do{
  text-align: center;

  @media only screen and (min-width:769px) {
    width: 30%;
    margin-left: 2.5%;
  }
}
#what-we-do p.items{
  font-family: 'Open Sans',sans-serif;
  font-size: 1.8rem;
  color: #9f9f9f;
  margin-top: 5%;
  position: relative;
  width: 100%;
}
#what-we-do .item-what-we-do h2{
  font-size: 1.8rem;
  font-weight: 800;
  top: 10px;
  position: relative;
  font-family:'Montserrat',sans-serif;
  color: #323f4d;
}
#what-we-do i{
  font-size: 6rem;
}
.item-container .item-what-we-do:nth-child(3n+2){
  margin-top: 60px;
}
#what-we-do .action-started{
  position: relative;
  text-align: center;
  margin: 50px auto;
}
#what-we-do .btn{
  text-overflow: ellipsis;
  vertical-align: middle;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
}
#what-we-do .btn:hover{
  background: #34495e;
}
#what-we-do .btn-outlined{
  height: 60px;
  line-height: 60px;
  border-radius: 60px;
  font-weight: 700;
  font-family: 'Montserrat',sans-serif;
  text-transform: uppercase;
  font-size:1.2rem;
  padding: 0 35px;
  min-width: 250px;
}
#what-we-do .btn-outlined:hover{
  color: #fff;
}
